<section>
    </div>
        <div ng-class="col-md-12" >
            <breadcrumbs></breadcrumbs>

            <categorylistview></categorylistview>

            <loadingindicator ng-show="productLoadingIndicator" title="{{'Please wait while we fetch all products' | r | xlat}}"/>

            <productlistview></productlistview>

        </div>
    </div>
</section>
    <section class="footer">
    <div style="text-align: center; margin-top:40px; margin-bottom:40px;background-image:url('https://ecommassets.s3.amazonaws.com/FANTRIBUTION/Footer-9777cd0e.jpeg');background-size:cover;">
    <div class="row">
        <div class="col-sm-4">
        <h3 style="font-size: 24px;line-height: 1.4;color: #6ba539;font-family: futura-pt;font-weight: 700;text-transform: capitalize;letter-spacing: 1.5px;">
            <ul>
            &nbsp;
            <li><a style="color: #6ba539" href="faqs">FAQ</a></li>
            <li><a style="color: #6ba539" href="contactus">Contact Us</a></li>
            &nbsp;
            </ul>
        </h3>
        </div>
        
        <div class="col-sm-4">
        <img style="max-width:300px;padding-top:2.5em;" src="https://ecommassets.s3.amazonaws.com/FANTRIBUTION/FANTRIBUTIONTransparent.png" \>
        </div>
        
        <div class="col-sm-4 fservices">
        <h3 style="font-size: 24px;line-height: 1.4;color: #6ba539;font-family: futura-pt;font-weight: 700;text-transform: capitalize;letter-spacing: 1.5px;">
            <ul>
            &nbsp;
            <li>527 W. Morley Drive</li>
            <li>Saginaw, MI 48601</li>
            <li><a style="color: #6ba539" href="tel:9898911897">989.891.1897</a></li>
            &nbsp;
            </ul>
        </h3>
        </div>
    </div>
    </section>
