<section>
    <loadingindicator ng-show="displayLoadingIndicator" title="{{'Please wait while we update your order' | r | xlat}}" />
    <div class="col-md-4 col-md-offset-1 col-md-push-7 col-collapse">
        <ordersummary />
    </div>

    <div class="col-md-7 col-md-pull-5 col-collapse" ng-show="currentOrder && currentOrder.isEditable" ng-click="showSuccessAlert = false">
        <orderdetails ng-show="hasOrderConfig" />
        <ordershipping />
        <orderbilling ng-show="currentOrder.BillingEnabled" />
        <orderapprovals ng-show="currentOrder.Approvals" />
        <div class="navbar-fixed-bottom">
            <div class="view-response-message alert-success text-center" alert-show="actionMessage">
                <p ng-bind-html="actionMessage | r | xlat"></p>
            </div>
            <div class="view-response-message alert-danger text-center" alert-show="errorMessage">
                <p ng-bind-html="errorMessage | r | xlat"></p>
            </div>
            <div class="view-response-message alert-danger text-center" alert-show="couponError">
                <p ng-bind-html="couponError | r | xlat"></p>
            </div>
            <orderbuttons view="checkout" continue="true"></orderbuttons>
        </div>
    </div>
</section>
