<div class="451qa_prod_item row">
    <div class="col-xs-12 text-center">
        <a href="{{LineItem.Product.Type == 'Kit' ? 'kit' : 'product'}}/{{LineItem.Product.InteropID}}">
            <figure ng-show="LineItem.Variant.SmallImageUrl || LineItem.Product.SmallImageUrl" >
                <img ng-src="{{LineItem.Variant.SmallImageUrl || LineItem.Product.SmallImageUrl}}"/>
            </figure>
            <div class="empty" ng-hide="LineItem.Variant.SmallImageUrl || LineItem.Product.SmallImageUrl">
                <span class="fa empty"><i class="fa fa-camera"></i></span>
            </div>
            <div>
                <h4 class="text-center" style="padding-top:2em">{{LineItem.Product.Name}}</h4>
                <h4 ng-if="LineItem.Product.StaticSpecGroups.InfoDisplay.Specs.InfoDisplay.Value">{{LineItem.Product.StaticSpecGroups.InfoDisplay.Specs.InfoDisplay.Value}}</h4>
                <h4 style="padding-bottom:1em" ng-if="LineItem.Product.StaticSpecGroups.SizeDisplay.Specs.SizeDisplay.Value">{{LineItem.Product.StaticSpecGroups.SizeDisplay.Specs.SizeDisplay.Value}}</h4>
                <h4 class="text-center" ng-show="LineItem.PriceSchedule.PriceBreaks[0]" ng-if="!(user.Permissions.contains('HidePricing'))">
                {{LineItem.PriceSchedule.PriceBreaks[0].Price | culturecurrency}}
                </h4>
            </div>
            <div class="product-hover">
                <div>
                <img ng-src="{{LineItem.Product.StaticSpecGroups.LightboxImages.Specs.01.FileURL}}" height="75%" />
                </div>
            </div>
        </a>
    </div>
</div>
